@charset "utf-8";

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  margin: 0;
  color: #fffcea;
  background-color: #fffcea;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 40px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 10px 100px 50px 100px;
  background-color: #363636;
}


.footer {
  margin top: 100px;
  text-align: right;
}

.image {
  margin: 80px;
}